<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
</head>
<body>
    <hr />
    <div>
        @RenderBody()
    </div>
    <br />
    <hr />  
</body>
</html>